/mvc/out/
/mvc/.idea/

/filters2/out/
/filters2/.idea/

/cookies/out/
/cookies/.idea/

/jdbcEE/out/
/jdbcEE/.idea/

/JDBCproject/out
/JDBCproject/.idea/

/conectionPooling/out
/conectionPooling/.idea/